<nav class="md:sticky md:top-0 h-full">
  <div class="h-32 md:h-full w-full md:w-32 flex flex-row md:flex-col justify-center items-center gap-14 border-b md:border-r md:border-b-0">
    <a class="flex flex-col items-center cursor-pointer p-3" routerLink="home">
      <img src="/icons/basket.svg" alt="Basket Icon" class="w-6 h-6">
    </a>

    <a class="flex flex-col items-center cursor-pointer p-3" routerLink="home" >
      <img src="/icons/truck.svg" alt="Truck Icon" class="w-6 h-6">
    </a>

    <a class="flex flex-col items-center cursor-pointer p-3" routerLink="home">
      <img src="/icons/users.svg" alt="Users Icon" class="w-6 h-6">
    </a>

    <a class="flex flex-col items-center cursor-pointer p-3" routerLink="home">
      <img src="/icons/location.svg" alt="Location Icon" class="w-6 h-6">
    </a>

    <a class="flex flex-col items-center cursor-pointer p-3" routerLink="home">
      <img src="/icons/internet.svg" alt="Internet Icon" class="w-6 h-6">
    </a>
  </div>

</nav>
